*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html, body {
  height: 100%; }

body {
  background-color: #C8ABAD;
  font-family: 'Quicksand', sans-serif; }

header {
  color: #5B4F4F; }

.headerWrapper {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-top-color: #5B4F4F;
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 3px;
  text-align: center; }
  .headerWrapper .nameTitle {
    padding-top: 100px; }
  .headerWrapper .name {
    border-bottom-style: solid;
    border-bottom-color: #5B4F4F;
    border-bottom-width: 1px;
    padding-bottom: 10px; }
  .headerWrapper .title {
    padding-top: 10px;
    padding-bottom: 80px; }
  .headerWrapper .triangles {
    display: flex;
    flex-direction: column; }
    .headerWrapper .triangles svg {
      margin: 0 auto; }
      .headerWrapper .triangles svg:last-child {
        margin-top: -55px; }
  .headerWrapper .header-box-line {
    width: 1px;
    height: 120px;
    background-color: #5B4F4F;
    margin: 0 auto;
    margin-top: -10px; }

.about {
  width: 100%;
  background-color: #5B4F4F; }
  .about .aboutContainer {
    height: 100%; }
  .about .about-box-line {
    width: 1px;
    height: 100px;
    background-color: #C8ABAD;
    margin: 0 auto; }
  .about .aboutBorderControl {
    position: absolute;
    border-color: #C8ABAD;
    border-width: 1px;
    border-style: solid;
    width: 60%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .about .aboutBorder {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    position: relative; }
  .about .aboutDescription {
    position: relative;
    color: #5B4F4F;
    background-color: #D8D8D8;
    width: 50%;
    height: 70%;
    padding: 50px;
    letter-spacing: 1px;
    line-height: 32px; }

.projects {
  display: flex;
  flex-direction: column; }
  .projects .project-box-line {
    width: 1px;
    height: 120px;
    background-color: #5B4F4F;
    margin: 0 auto;
    margin-top: -10px; }
  .projects .project-box-line-between {
    width: 1px;
    height: 120px;
    background-color: #5B4F4F;
    margin: 0 auto; }
  .projects .project-header {
    color: #5B4F4F;
    margin: 0 auto;
    font-size: 45px;
    line-height: 68px;
    margin-top: 10px; }
  .projects .triangles {
    display: flex;
    flex-direction: column; }
    .projects .triangles svg {
      margin: 0 auto; }
      .projects .triangles svg:last-child {
        margin-top: -55px; }
  .projects .project-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    margin: auto;
    padding: 50px;
    padding-top: 0;
    padding-bottom: 0; }
  .projects .project-text {
    float: right;
    width: 500px;
    padding: 40px;
    background-color: #D8D8D8;
    line-height: 30px; }
    .projects .project-text p {
      letter-spacing: 1px; }
  .projects img {
    object-fit: fill;
    width: 500px;
    height: 100%; }

.contact-box {
  margin: auto;
  width: 70%;
  height: 700px;
  background-color: #D8D8D8;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 100px; }
  .contact-box .contact-header {
    text-align: center;
    color: #5B4F4F;
    font-size: 45px;
    line-height: 68px;
    margin-top: 10px; }
  .contact-box .name-email-box {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-top: 20px; }
  .contact-box .name-input-box {
    background-color: #ffffff;
    height: 75px;
    width: 39%;
    border-radius: 10px;
    border: none; }
    .contact-box .name-input-box::placeholder {
      padding-left: 20px; }
  .contact-box .email-input-box {
    background-color: #ffffff;
    height: 75px;
    width: 39%;
    border-radius: 10px;
    border: none; }
    .contact-box .email-input-box::placeholder {
      padding-left: 20px; }
  .contact-box .message-input-box {
    background-color: #ffffff;
    height: 400px;
    width: 86%;
    margin: auto;
    margin-bottom: 60px;
    margin-top: 40px;
    border-radius: 10px;
    border: none;
    border: none; }
    .contact-box .message-input-box::placeholder {
      padding-left: 20px; }
  .contact-box .submit-button {
    margin: auto;
    width: 50%;
    height: 75px;
    background-color: white;
    color: #5B4F4F;
    border-radius: 10px;
    border: none;
    margin-bottom: 40px; }
  .contact-box .submit-button:hover {
    background-color: #C8ABAD; }
