*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

body{
    background-color: #C8ABAD;
    font-family: 'Quicksand', sans-serif;
}
header{
    color:#5B4F4F;
}
.headerWrapper {
    margin-top: 20px;
    margin-left: 20px;
    margin-right:20px;
    border-top-color: #5B4F4F;
    border-top-style: solid;
    border-top-width: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 3px;
    text-align: center;
    .nameTitle{
        padding: 100px;
    }
    .name{
        border-bottom-style: solid;
        border-bottom-color: #5B4F4F;
        border-bottom-width: 1px;
        padding-bottom:10px;
    }
    .title{
        padding-top:10px;
        padding-bottom: 80px;
    }
}

.about{
    // height: 350px;
    width:100%;
    background-color: #5B4F4F;

    .aboutContainer {
        height: 100%;
    }

    .aboutBorderControl {
        position: absolute;
        border-color: #C8ABAD;
        border-width: 1px;
        border-style: solid;
        width: 65%;
        height: 30%;
    }

    .aboutBorder {
        height: 100%;
        display:flex;
        align-items: center;
        justify-content: center;
    }

    .aboutDescription {
        color: #5B4F4F;
        background-color: #D8D8D8;
        width: 50%;
        height: 70%;
        padding: 50px;
        letter-spacing: 1px;
        line-height: 32px;
        margin: 100px;
        z-index: 2;
    }
}