*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

body{
    background-color: #C8ABAD;
    font-family: 'Quicksand', sans-serif;
}
header{
    color:#5B4F4F;
}
.headerWrapper {
    margin-top: 20px;
    margin-left: 20px;
    margin-right:20px;
    border-top-color: #5B4F4F;
    border-top-style: solid;
    border-top-width: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 3px;
    text-align: center;
    .nameTitle{
        padding: 100px;
    }
    .name{
        border-bottom-style: solid;
        border-bottom-color: #5B4F4F;
        border-bottom-width: 1px;
        padding-bottom:10px;
    }
    .title{
        padding-top:10px;
        padding-bottom: 80px;
    }
}




.about{
    // height: 350px;
    width:100%;
    background-color: #5B4F4F;

    .aboutContainer {
        height: 100%;
    }

    .aboutBorderControl {
        position: absolute;
        border-color: #C8ABAD;
        border-width: 1px;
        border-style: solid;
        width: 65%;
        height: 50%;
    }

    .aboutBorder {
        height: 100%;
        display:flex;
        align-items: center;
        justify-content: center;
    }

    .aboutDescription {
        color: #5B4F4F;
        background-color: #D8D8D8;
        width: 50%;
        height: 70%;
        padding: 50px;
        letter-spacing: 1px;
        line-height: 32px;
        margin: 100px;
        z-index: 2;
    }
}




.projects {
    display: flex;
    flex-direction: column;
    
    .project-box{
        display: flex;
        flex-direction: row;
        width: 70%;
        margin:auto;
        padding:50px;
        
    }
    .project-text{
            float: right;
            width:500px;
            padding: 40px;
            background-color: #D8D8D8;
            line-height: 30px;
            p{
            letter-spacing: 1px;
            }
    }
img{
    object-fit: fill;
    width: 500px;
}
}



.contact-box{
    margin: auto;
    width: 70%;
    height:700px;
    background-color: #D8D8D8;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 100px;

    .contact-header {
        text-align: center;
        color: #5B4F4F;
        font-size:45px;
        line-height: 68px;
        margin-top: 10px;
    }

    .name-email-box{
        justify-content: space-evenly;
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .name-input-box{
        background-color: #ffffff;
        height: 75px;
        width: 39%;
        border-radius: 10px;
        border:none;

        &::placeholder{
            padding-left: 20px;

        }
    }

    .email-input-box{
        background-color: #ffffff;
        height: 75px;
        width: 39%;
        border-radius: 10px;
        border:none;

        &::placeholder{
            padding-left: 20px;

        }
    }
  
    .message-input-box{
        background-color: #ffffff;
        height: 400px;
        width: 86%;
        margin: auto;
        margin-bottom: 60px;
        margin-top: 40px;
        border-radius: 10px;
        border:none;
        border:none;

        &::placeholder{
            padding-left: 20px;
        }
    }

    .submit-button {
        margin: auto;
        width:50%;
        height: 75px;
        background-color: white;
        color: #5B4F4F;
        border-radius: 10px;
        border: none;
        margin-bottom: 40px;
        
    }

    .submit-button:hover {
        background-color: #C8ABAD;
    }
    
}